.appItem {
    background-color: #ffffff;
    height: 150px;
    width: 130px;
    margin: 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @media screen and (max-width:767px){
    .appItem{
      height:130px;
      width:110px;
    }
  }

  .appImage {
    height: 60px;
    width: 60px;
  }
  .appName {
    color: #1e293b;
    font-family: Bree Serif;
  }