.cart-list {
    padding-left: 0px;
  }

  .total-cost-container{
    display:flex;
    flex-direction:row;
    justify-content:flex-end;
    align-items:center;
    padding : 10px;
  }

  .total-text{
    color:black;
    font-family:"Open Sans";
    font-size:30px;
    font-weight:500;
  }

  .cost{
    color:grey;
    font-family:"Open San";
    font-size:25px;
    font-weight:500;
  }